@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header .video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.1;
  z-index: 1;
}

header .playpause {
  background-image:url(https://www.iconsdb.com/icons/preview/white/pause-xxl.png);
  background-repeat:no-repeat;
  width:2em;
  height:2em;
  padding: 1em;
  position:absolute;
  left:.3em;
  bottom:.3em;
  margin:auto;
  background-size:contain;
  background-position: center;
  opacity: 1;
}

header .videoh1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.5vw;
  font-weight: 600;
}

header .videop {
  font-family: 'Roboto', sans-serif;
  font-size: 1.75vw;
  font-weight: 100;
}

/**
@media only screen and (min-width: 900px) and (max-width: 1200px){
  header .videoh1{
    font-size: 65px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1200px){
  header .videop {
    font-size: 20px;
  }
}


@media only screen and (min-width: 680px) and (max-width: 900px) {
  header .videoh1{
    font-size: 50px;
  }
}

@media only screen and (min-width: 680px) and (max-width: 900px) {
  header .videop {
    font-size: 15px;
  }
}

@media only screen and (max-width: 680px) {
  header .videoh1{
    font-size: 30px !important;
  }
}

@media only screen and (max-width: 680px) {
  header .videop {
    font-size: 0px !important;
  }
}**/

@media only screen and (max-width: 700px) {
  header .videoh1{
    font-size: 40px;
  }
}

@media only screen and (max-width: 700px) {
  header .videop {
    font-size: 0px;
  }
}

@media only screen and (min-width: 1000px) {
  header .videoh1{
    font-size: 65px;
    font-weight: 500;
  }
}

@media only screen and (min-width: 1000px) {
  header .videop {
    font-size: 25px;
  }
}

@media only screen and (min-width: 1500px){
  header .videoh1{
      font-family: 'Rubik', sans-serif;
      font-size: 4.5vw;
      font-weight: 600;
  }
}

@media only screen and (min-width: 1500px){
  header .videop {
    font-family: 'Roboto', sans-serif;
    font-size: 1.75vw;
    font-weight: 100;
  }
}
